[user]
	name = Stefan Blanke
	email = greenarrow@users.sourceforge.net
[gui]
	recentrepo = ~
[alias]
	last = log -1 HEAD
	g = !gitg
	reup = remote update
	wipe = reset --hard
	unstage = reset HEAD
	modge=!~/.greenshell/git-modge.py
	pack=!~/.greenshell/git-pack.py
	brancha=!git branch | sed -e '/abandoned$/d' -e '/merged$/d'
	ba=!git branch | sed -e '/abandoned$/d' -e '/merged$/d'
	cc=cherry-pick
	dp=commit --amend
	co=checkout
	b=branch
	ff=merge --ff-only
	pf=pull --ff-only
	update=!git remote update && git --no-pager log HEAD..FETCH_HEAD && git pull --ff-only
	bling=log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	check=!git diff --check $(git hash-object -t tree /dev/null)

[core]
	excludesfile = ~/.gitignore-global
	editor = "vim --cmd ':set textwidth=74'"

[color]
	ui = true

[diff "dia2svg"]
	textconv = dia2svg

